html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height:1000px;
}

h1 {
  color: #521262;
  font-size: 50px;
  padding: 10px;
}


a{
  font-size: 30px;
  color: #e84545;
}


p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}


input[type="submit"]{
   width: 20em;  height: 2em;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

.events{
  color: #ffc478;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}
.test1{
  color: #f5d782;
}
